In [18]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [19]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [20]:
soup = BeautifulSoup(source, 'xml')

In [21]:
table=soup.find('table')

In [22]:
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [23]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [24]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [26]:
df=df[df['Borough']!='Not assigned']

In [27]:
temp_df=df.groupby('Postalcode')['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
temp_df=temp_df.reset_index(drop=False)
temp_df.rename(columns={'Neighborhood':'Neighborhood_joined'},inplace=True)

In [28]:
df_merge = pd.merge(df, temp_df, on='Postalcode')

In [29]:
df_merge.drop(['Neighborhood'],axis=1,inplace=True)

In [30]:
df_merge.drop_duplicates(inplace=True)

In [31]:
df_merge.rename(columns={'Neighborhood_joined':'Neighborhood'},inplace=True)

In [32]:
df_merge.head()

  Postalcode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [33]:
df_merge.shape

(103, 3)